.body {
  padding: 0;
  margin: 0;
}
.header {
  text-align: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}
.header__title {
  font-size: 1em;
  flex: 1;
}
.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 20px auto 0 auto;
  width: 1000px;
}
.channel__list {
  margin: 0;
  padding: 0;
}
.channel {
  list-style: none;
  padding: 0;
  margin: 0;
}
.channel__button {
  display: grid;
  grid-template-columns: 1fr 30px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.channel__unread__count {
  display: flex;
  border-radius: 5px;
  background-color: crimson;
  color: #fff;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.message__context {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}
.message__date {
  margin-left: 10px;
  flex: 1;
}
.message__body {
  margin-top: 15px;
  display: inline-block;
}
.message {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.unread {
  font-weight: bold;
}

.loading {
  padding: 30px;
  text-align: center;
  background-color: #ddd;
}